<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deleted</key>
	<array>
		<string>D3F10AC0-D9D8-4733-859F-EE81DF064E58</string>
	</array>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>25EB4E7C-CCB0-4025-A6F2-A0986C85E325</string>
			<string>A354FF61-CCD9-4ED8-B280-C7EEF4388202</string>
			<string>------------------------------------</string>
			<string>914BB49A-6809-425F-812E-7C3C5321D403</string>
			<string>7DAF30C3-0247-4E94-AA44-DD2E69A6E236</string>
			<string>BED4BD7F-306B-45DD-AB3D-357937A88834</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>Rails I18n</string>
	<key>ordering</key>
	<array>
		<string>914BB49A-6809-425F-812E-7C3C5321D403</string>
		<string>7DAF30C3-0247-4E94-AA44-DD2E69A6E236</string>
	</array>
	<key>uuid</key>
	<string>F217218F-CCD3-45C0-8D67-DB761EA9CE61</string>
</dict>
</plist>
